{{define "welcome_body"}}

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 20px; line-height: 1.7; color: #555;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; background: #FFF;">
                <tr>
                    <td style="border: 1px solid #ddd;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                            <tr>
                                <td style="padding-left: 40px">
                                    <img src="https://worldr.com/logo192.png" width="130px" title="Worldr at {{ .Props.Company }}" alt="Worldr at {{ .Props.Company }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="padding: 20px 50px 0; margin: 0 auto">
                                        <tr>
                                            <td>
                                                <h2>{{.Props.Info1}}</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2>{{.Props.Info3}}</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding: 20px 0px;">
                                                <p>{{.Props.Info2}}</p>
                                                <p><strong>{{.Props.CompanyLabel}}</strong> {{.Props.CompanyAlias}}</p>
                                                <p><strong>{{.Props.UsernameLabel}}</strong> {{.Props.Username}}</p>
                                                <p><strong>{{.Props.PasswordLabel}}</strong> {{.Props.Password}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 20px 0px;">
                                                <p>{{.Props.AppDownloadInfo}}</p>
                                            </td>
                                        </tr>
                                        {{if .Props.IosAppDownloadLink}}
                                        <tr>
                                            <td style="padding-bottom: 15px;">
                                                <div><strong>iOS:</strong></div>
                                                <div><a href="{{.Props.IosAppDownloadLink}}">{{.Props.IosAppDownloadLink}}</a></div>
                                            </td>
                                        </tr>
                                        {{end}}                                        
                                        {{if .Props.AndroidAppDownloadLink}}
                                        <tr>
                                            <td style="padding-bottom: 15px;">
                                                <div><strong>Android:</strong></div>                                                
                                                <div><a href="{{.Props.AndroidAppDownloadLink}}">{{.Props.AndroidAppDownloadLink}}</a></div>
                                            </td>
                                        </tr>
                                        {{end}}
                                        {{if .Props.MacOsAppDownloadLink}}
                                        <tr>
                                            <td style="padding-bottom: 15px;">
                                                <div><strong>macOS:</strong></div>                                                
                                                <div><a href="{{.Props.MacOsAppDownloadLink}}">{{.Props.MacOsAppDownloadLink}}</a></div>
                                            </td>
                                        </tr>
                                        {{end}}
                                        {{if .Props.WindowsAppDownloadLink}}
                                        <tr>
                                            <td style="padding-bottom: 15px;">
                                                <div><strong>Windows:</strong></div>                                                
                                                <div><a href="{{.Props.WindowsAppDownloadLink}}">{{.Props.WindowsAppDownloadLink}}</a></div>                                                
                                            </td>
                                        </tr>
                                        {{end}}
                                        {{if .Props.LinuxAppDownloadLink}}
                                        <tr>
                                            <td style="padding-bottom: 50px;">
                                                <div><strong>Linux:</strong></div>                                                
                                                <div><a href="{{.Props.LinuxAppDownloadLink}}">{{.Props.LinuxAppDownloadLink}}</a></div>
                                            </td>
                                        </tr>
                                        {{end}}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {{template "email_footer" . }}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{end}}

